body{
  text-align: center;
  font-size: 23px;
}
div{
  margin: 5px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 5px;
  border: 2px solid black;
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.Titulo{
  background-color: purple;
  color: white;
}
/*
#IDPal{
  background-color: grey;
  display: flex;
  flex-direction: column;
}
*/
#IDV{
  background-color: green;
}

#IDA{
  background-color: yellow;
}
